.logo-container {
  z-index: 0;
  width: 500px;
  height: 500px;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 10%; // moved it a bit more to the right
  bottom: 0;
  left: 850px; // adjust for more right offset
  margin: auto;
  animation: fadeInUp 1.5s ease-out;

  &.animate {
    opacity: 1;
  }

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(15deg) !important;

    .svg-path {
      stroke-dasharray: 500;
      stroke-dashoffset: 1000;
      animation: drawSVG 3s linear infinite; 
    }
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(15deg) !important;
    z-index: 1;

    &.animate {
      opacity: 1;
      animation: fadeInUp 1.5s ease-out;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes drawSVG {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
